# === DATABASE ===
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_DB=shb

# === REDIS ===
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DEFAULT_DB=0
REDIS_TIMEOUT=5

# === MINIO ===
MINIO_ENDPOINT=minio:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=shb-files

# === GENERAL ===
APP_PORT=8000
APP_HOST=0.0.0.0
APP_ENV=production
LOG_LEVEL=info

# === JWT ===
JWT_SECRET_KEY=
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=
ACCESS_TOKEN_TTL=15m
REFRESH_TOKEN_TTL=720h

# === OTP ===
OTP_LENGTH=6
OTP_TTL=5m
OTP_SEND_ATTEMPTS=3
OTP_SEND_BLOCK_TIME=300
OTP_MAX_ATTEMPTS=3
OTP_MAX_LOGIN_ATTEMPTS=5

# === SMS ===
SMS_API_KEY=mock_key
SMS_SENDER_NAME=Hadaf
SMS_LOGIN=login
SMS_BASE_URL=https://api.osonsms.com

# === SMTP ===
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM_EMAIL=noreply@hadaf.tj
SMTP_FROM_NAME=Hadaf Platform